<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<resultMap id="memberResult" type="Member">
		<result property="memNo" column="mem_no"/>
		<result property="memId" column="mem_id"/>
		<result property="memPwd" column="mem_pwd"/>
		<result property="memName" column="mem_name"/>
		<result property="email" column="email"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="status" column="status"/>
		<result property="memCode" column="mem_code"/>
		<result property="shName" column="sh_name"/>
		<result property="shPhone" column="sh_phone"/>
		<result property="shAddress" column="sh_address"/>
		<result property="shAbout" column="sh_about"/>
		<result property="admission" column="admission"/>
		<result property="shLocal" column="sh_local"/>
		<result property="refType" column="ref_type"/>
	</resultMap>
	
	<select id="selectMemberListCount" resultType="_int">
		select count(*)
		  from member
		 where status = 'Y'
	</select>
	
	<select id="selectMemberList" resultMap="memberResult">
		select *
		  from member
		 where status = 'Y'
		 order
		    by enroll_date desc
	</select>
	
	<select id="selectLoginMember" resultMap="memberResult">
		select *
		  from member
		 where status = 'Y'
		   and mem_id = #{memId}
		   and mem_pwd = #{memPwd}
	</select>
	
	<select id="selectMemberDetail" resultMap="memberResult">
		select *
		  from member
		  join shelter using (mem_no)
		 where status = 'Y'
		   and mem_no = #{mno}
	</select>
	
	<update id="adminUpdateMember">
		update member
   		   set 
   		   	   mem_name = #{memName}
   		     , email = #{email}
 		 where mem_no = #{memNo}
	</update>
	
	<update id="adminUpdateShelter">
		update shelter
		   set
		   	   sh_name = #{memName}
			 , sh_phone = #{shPhone}
			 , sh_address = #{shAddress}
			 , sh_about = #{shAbout}
		 where mem_no = #{memNo}
	</update>
	
	<delete id="adminDeleteMember">
		update
			   member
		   set 
		   	   status = 'N'
		 where 
		 	   mem_no = #{memNo}
	</delete>
	
	
	
</mapper>